@import '~mapbox-gl/dist/mapbox-gl.css';

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

.map {
  width: 100vw;
  height: 50vh;
}

}

#home {
  background-image: url('https://i.imgur.com/MpfEGnT.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-title {
  font-size: 150px;
  color: white;
}

.navbar {
  background-color: Tomato;
  font-weight: bold;
  height: 80px;
  a.navbar-item:hover {
    background-color: white;
    text-decoration: none !important;
    color: inherit !important;
  }
  a.navbar-item:active {
    text-decoration: none !important;
    color: inherit !important;
  }
  a.navbar-item:visited {
    text-decoration: none !important;
    color: inherit !important;
  }
  .pet-meet {
    font-size: 25px;
  }
}

.map {
  height: 100vh;
}


.checkbox-text {
  padding-left: 10px;
}

.card {
  margin: 10px;
  padding: 15px;
}

.button {
  display: inline-block;
  margin: 3px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px #999;
  .button:hover {
    background-color: white;
  }
}

.button:active {
  background-color: #gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.log-in, .log-out {
  display: inline-block;
  margin: 3px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px #999;
  .log-in:hover, .log-out:hover {
    background-color: white;
  }
}

.log-in:active, .log-out:active {
  background-color: #gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.popuptext {
color: Tomato;
}

.popupbutton {
  display: inline-block;
  margin: 3px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #grey;
  background-color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px #999;
  .button:hover {
    background-color: Tomato;
  }

}

  .main-profiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .body{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content:center;
        align-items: center;
        height: 50vh;
        width: 50vh;
        font-family: sans-serif;
      }
      .other-outside{
        width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 15px;
        margin: 0 auto;
      }
      .outside{
        position: absolute;
        width: 300px;
        height: 350px;
        background: #fff;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow:0 2px 10px rgba(0,0,0,.2);
      }
      .outside:before,
      .outside:after
      {
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: #fff;
        transition: 0.5s;
        z-index: -1;
      }
      .outside:hover:before{
      transform: rotate(20deg);
      box-shadow: 0 2px 20px rgba(0,0,0,.2);
      }
      .outside:hover:after{
      transform: rotate(10deg);
      box-shadow: 0 2px 20px rgba(0,0,0,.2);
      }
      .outside .imgBx{
      position: absolute;
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px;
      background: #222;
      transition: 0.5s;
      z-index: 1;
      }
      .outside:hover .imgBx
      {
        bottom: 80px;
      }

      .outside .imgBx .owner {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      .outside .details{
          position: absolute;
          left: 10px;
          right: 10px;
          bottom: 10px;
          height: 60px;
          text-align: center;
      }

      .outside .details h2{
       margin: 0;
       padding: 0;
       font-weight: 600;
       font-size: 20px;
       color: #777;
       text-transform: uppercase;
      }

      .outside .details h2 span{
      font-weight: 500;
      font-size: 16px;
      color: tomato;
      display: block;
      margin-top: 5px;
       }
  }
