@import '~mapbox-gl/dist/mapbox-gl.css';

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

.map {
  width: 100vw;
  height: 50vh;
}

}

#home {
  background-image: url('https://i.imgur.com/MpfEGnT.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-title {
  font-size: 150px;
  color: white;
}

.navbar {
  background-color: Tomato;
  font-weight: bold;
  height: 80px;
  a.navbar-item:hover {
    text-decoration: none !important;
    color: inherit !important;
  }
  a.navbar-item:active {
    text-decoration: none !important;
    color: inherit !important;
  }
  a.navbar-item:visited {
    text-decoration: none !important;
    color: inherit !important;
  }
  .pet-meet {
    font-size: 25px;
  }
}

.map {
  height: 100vh;
}


.checkbox-text {
  padding-left: 10px;
}

.card {
  margin: 10px;
  padding: 15px;
}

.sign-up, .submit, .edit {
  display: inline-block;
  margin: 3px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px #999;
  .sign-up:hover, .submit:hover, .edit:hover {
    background-color: white;
  }
}

.sign-up:active, .submit:active, .edit:active {
  background-color: #gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.log-in, .log-out {
  display: inline-block;
  margin: 3px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px #999;
  .log-in:hover, .log-out:hover {
    background-color: white;
  }
}

.log-in:active, .log-out:active {
  background-color: #gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
